
<%= link_to "Add New Attribute", new_attributes_path %>

<table>
<thead>
	<tr>
		<th>ID</th>
	<th>
		Name
	</th>
	<th>
		Display Order
	</th>
	<th>
		Edit
	</th>
	<th>
		Delete
	</th>
	</tr>
</thead>
<tbody>
<% @attributes.each do |a| %>
	<tr>
		<td><%= a[:id] %></td>
		<td><%= a[:attr_name]%></td>
		<td><%= a[:display_order]%></td>
		<td><%= link_to "Edit",edit_attributes_path(a[:id]) %></td>
		<td>Delete</td>
	</tr>
<% end %>

</tbody>

</table>