<%= form_for(@pin_attribute) do |f| %>
  <% if @pin_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin_attribute.errors.count, "error") %> prohibited this pin_attribute from being saved:</h2>

      <ul>
      <% @pin_attribute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent %>
    <%= f.collection_select :parent_id, @parent_pin_attributes, :id, :name, :include_blank=>"Select an option or leave blank" %>
  </div>
  <div class="field">
    <%= f.text_field :fill, :id=>"color_fill" %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
    $("#color_fill").spectrum({
      showInput: true,
      showAlpha:true,
      change: function(color) {
        $("#color_fill").val(color.toHexString());
      }
    });
</script>
