<h1>Listing pin_attributes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pin_attributes.each do |pin_attribute| %>
      <tr>
        <td><%= pin_attribute.name %></td>
        <td><%= link_to 'Show', pin_attribute %></td>
        <td><%= link_to 'Edit', edit_pin_attribute_path(pin_attribute) %></td>
        <td><%= link_to 'Destroy', pin_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pin attribute', new_pin_attribute_path %>
