<% @return_items = ReturnItems.select("return_items.order_item_id").where("order_num=?",params[:order_num]).group(:order_item_id).count %>


<div id="header">
	<div id="sub-header"><img src="<%= image_url("returnsBar_1.gif") %>" /></div>
	<div id="stepbar" style="background:url('<%= image_url("stepBar_1.gif")%>')">
		<span id="sb-one" class="linkbar active"><span class="number">1</span><span class="bar-text">Select Item(s) to Return</span></span>
		<span id="sb-two" class="linkbar"><span class="number">2</span><span class="bar-text">Select Return Reason(s)</span></span>
		<span id="sb-three" class="linkbar"><span class="number">3</span><span class="bar-text">Confirm and Ship</span></span>
	</div>
	<!--<img src="<%= image_url("stepBar_1_1.gif") %>" />-->
		
</div>

<div id="main-container" class="main-cont-step-one">
	
<div id="sidebar">
	<div class="sub-sidebar-section-info">
	
		<div class="sub-section-header"><b>Order Number:</b></div>
	
		<span><%= @order[:order_num]%></span>
	</div>
	<div class="sub-sidebar-section-info">
	
		<div class="sub-section-header"><b>Order Date:</b></div>
	
		<span><%= @order.created_at.strftime("%B %d, %Y") %></span>
	</div>
	<div class="sub-sidebar-section-info">
	
		<div class="sub-section-header"><b>Recipient:</b></div>
	
		<span><%= @order.full_name %></span>
	</div>
	
	<div class="sub-sidebar-section-info">
	
		<div class="sub-section-header"><b>Payment Method:</b></div>
	
		<span>
			Card ending in 5002
		<br />
		Total <%= number_to_currency(@order[:amount]) %>
		</span>
	</div>
	
	
</div>
	<div id="content">
		<% if (@all_errors) %>
		<div class="red"><%= @all_errors.join("<br />").html_safe %></div>
		<% end %>

		<h3>Please Select the Item(s) You Would Like to Return</h3>
		<% #test_qty_returned = OrderItemQuantityReturned.where(:order_id=>1,:order_item_id=>1).first %>

		<%= form_tag({controller:"returns", action: "validate_orders"},method: "post",id: "items-form") do %>
			<input type="hidden" name="order_id" value="<%= @order[:id] %>" />
			<input type="hidden" name="order_num" value="<%= @order[:order_num] %>" />
			<input type="hidden" name="review_page" value="true" />
			<% @order.order_items.each do |item| %>
				<% qty_r = @order.quantity_returns.where(order_item_id: item.id).first %>
		
				<% quantity_order_item = (qty_r.nil?) ? 0 : ( (qty_r[:quantity]==nil) ? 0 : qty_r[:quantity] ) %>
		
				<% if((item[:quantity] - (quantity_order_item || 0) )>0) %>
					<% (1..(item[:quantity] - (quantity_order_item || 0) )).to_a.each do |times| %>
						<div class="inline-block product-order-item">
							<div class="img-container">
								<img width="260" height="390" src="<%= image_url(item.product.image_front) %>" />
								<input type="checkbox" name="order_items[]" value="<%= item[:id] %>" />
								<label class="checkbox-label"></label>
								<img class="checkbox-label-img" width="20" height="17" src="<%= image_url("CHECK.png") %>" />
							</div>
							<div class="prod-desc">
								<p class="sub-section-header"><b><%= item.product_name %></b></p>
								<p class="sku-title"><%= item.product.sku%></p>
								<p><%= number_to_currency(item[:price]) %></p>
								<br>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
		<% end %>

	</div>
	<div id="footer" class="step-1-footer">
		<a href="<%= returns_path %>" class='previous-options no-background-color'><img src="<%= image_url("arrow_Previous.gif") %>" /></a>
		<button type="submit" id="submit-btn" class="next-btn" disabled><img src="<%= image_url("arrow_Continue.gif") %>" /></button>
	</div>
</div>

<script type="text/javascript">
	
	$("#items-form select.size-select").hide();
	$("#items-form").on("change","input[type='checkbox']",function(e) {
		
		if($("#items-form").find("input[type='checkbox']:checked").length) {
			$("#items-form button").prop("disabled",false);
		}
		else {
			$("#items-form button").prop("disabled",true);
		}
		//if($(this).find("input["))
	});

	$("#items-form").on("change","select",function(e) {
		
		if($(this).val()==2) {
			$(this).next("select.size-select").show();
		} else {
			$(this).next("select.size-select").hide();
		}

		


	});

	$("#items-form input[type='checkbox']").on("change",function(e) {
		// there is some checked checkboxes
		if($("#items-form input[type='checkbox']:checked").length) {
			$("#submit-btn").prop("disabled",false);
		} else {
			$("#submit-btn").prop("disabled",true);
		}
	});

	$("#submit-btn").on("click",function() {
		$("#items-form").submit();
	});

	$(".checkbox-label").on("click",function(e) {
		//console.log("test");
		e.stopPropagation();
		var label = $(this);
		if(label.hasClass("active")) {
			label.removeClass("active");
			label.prev("input").prop("checked",false);
			label.next("img").removeClass("active");
		} else {
			label.addClass("active");
			label.prev("input").prop("checked",true);
			label.next("img").addClass("active");
		}
		console.log($("#items-form").find("input[type='checkbox']:checked").length);
		if($("#items-form").find("input[type='checkbox']:checked").length) {
			$("#submit-btn").prop("disabled",false);
		}
		else {
			$("#submit-btn").prop("disabled",true);
		}

		//console.log($("#items-form").find("input[type='checkbox']:checked"));
	});


	$(".product-order-item .img-container").on("click",function(e) {
		//console.log("checkbix label in img container");
		e.stopPropagation();
		var label = $(this).find(".checkbox-label");
		if(!label.length) {return;}
		if(label.hasClass("active")) {
			label.removeClass("active");
			label.prev("input").prop("checked",false);
			label.next(".checkbox-label-img").removeClass("active");
		} else {
			label.addClass("active");
			label.prev("input").prop("checked",true);
			label.next(".checkbox-label-img").addClass("active");
		}
		console.log($("#items-form").find("input[type='checkbox']:checked").length);
		if($("#items-form").find("input[type='checkbox']:checked").length) {
			$("#submit-btn").prop("disabled",false);
		}
		else {
			$("#submit-btn").prop("disabled",true);
		}
	});
</script>




