<% @return_items = ReturnItems.select("return_items.order_item_id").where("order_num=?",params[:order_num]).group(:order_item_id).count %>
<%= @return_items %>

<div id="header">
	<img src="<%= image_url("stepBar_1.gif") %>" />
		<!--<ul id="links-top">
			<li class="active link-one"><a class="button"><span class="number">1</span> Choose Items to Return</a></li>
			<li class="link-two content-before"><span class="number">2</span> Review and Confirm</li>
			<li class="link-three content-before content-after"><span class="number">3</span> Print Shipping Label</li>
		</ul>-->
	</div>

<div id="main-container" class="main-cont-step-one">
	
<div id="sidebar">
	<p>
		<b>Order #<%= @order[:order_num] %></b>
		<br>
		<%= @order.created_at.strftime("%m/%d/%Y") %>
	</p>
	<p>
		<b>Sent to:</b>
		<br>
		<%=  @order.full_name %>
	</p>
	<p>
		<b>Payment Method</b>
		<br />
		Card ending in 5002
		<br />
		Total <%= number_to_currency(@order[:amount]) %>
	</p>
</div>
	<div id="content">
		<% if (@all_errors) %>
		<div class="red"><%= @all_errors.join("<br />").html_safe %></div>
		<% end %>

		<h3>Select the items you'd like to return</h3>

		<%= form_tag({controller:"returns", action: "validate_orders"},method: "post",id: "items-form") do %>
			<input type="hidden" name="order_id" value="<%= @order[:id] %>" />
			<input type="hidden" name="order_num" value="<%= @order[:order_num] %>" />
			<input type="hidden" name="review_page" value="true" />
			<% @order.order_items.each do |item| %>
				<% if((item[:quantity] - (@return_items[item[:id]] || 0) )>0) %>
					<% (1..(item[:quantity] - (@return_items[item[:id]] || 0) )).to_a.each do |times| %>
					<div class="inline-block product-order-item">
						<div class="img-container">
						<img width="260" height="390" src="<%= image_url("image.jpg") %>" />
						<input type="checkbox" name="order_items[]" value="<%= item[:id] %>" />
						</div>
						<div class="prod-desc">
							<b><%= item.product_name %></b><br />
							<%= number_to_currency(item[:price]) %>

						</div>
					</div>
					<% end %>
				<% end %>
			<% end %>

		<% end %>

	</div>
	
</div>
<div id="footer">
<button type="submit" id="submit-btn" class="next-btn" disabled><img src="<%= image_url("arrow_ContinueReview.gif") %>" /></button>
</div>
<script type="text/javascript">
	
	$("#items-form select.size-select").hide();
	$("#items-form").on("change","input[type='checkbox']",function(e) {
		
		if($("#items-form").find("input[type='checkbox']:checked").length) {
			$("#items-form button").prop("disabled",false);
		}
		else {
			$("#items-form button").prop("disabled",true);
		}
		//if($(this).find("input["))
	});

	$("#items-form").on("change","select",function(e) {
		
		if($(this).val()==2) {
			$(this).next("select.size-select").show();
		} else {
			$(this).next("select.size-select").hide();
		}

		

		/*if($("#items-form").find("select").length) {
			$("#items-form button").prop("disabled",false);
		}
		else {
			$("#items-form button").prop("disabled",true);
		}*/

	});

	$("#items-form input[type='checkbox']").on("change",function(e) {
		// there is some checked checkboxes
		if($("#items-form input[type='checkbox']:checked").length) {
			$("#submit-btn").prop("disabled",false);
		} else {
			$("#submit-btn").prop("disabled",true);
		}
	});

	$("#submit-btn").on("click",function() {
		$("#items-form").submit();
	});
</script>




