
<% attributes_hash = Hash.new %>
<% @attributes.each do |att| %>
<% attributes_hash[att[:id].to_i] = {name: att[:name], children: {}} %>
	<% if(att.child_attributes.any?) %>
		<% att.child_attributes.each do |catt| %>
			<% attributes_hash[att[:id]][:children][catt[:id]] = catt[:name] %>	
		<% end %>
	<% end %>
<% end %>

<div id="header">
	<img src="<%= image_url("stepBar_2_2.gif") %>" />
</div>
<div id="main-container">
	
	<div id="review-content">
		
		

		<%= form_tag({controller:"returns", action: "final_step"},method: "post",id: "review-form") do %>
			<input type="hidden" name="order_id" value="<%= @order[:id] %>" />
			<input type="hidden" name="order_num" value="<%= @order[:order_num] %>" />

			<div id="review-product-container">		
		

			<% @order_items.each do |item| %>
			
			<% (1..@counts[item[:id]]).to_a.each do |times| %>

			
			<div class="product-container review-box" id="<%= "product_"+item[:id].to_s+"_"+times.to_s %>" data-order-item-id="<%= item[:id]%>" data-quantity-counter="<%= times%>">
				<div class="product-sidebar">
					<div class="product-sidebar-wrapper">
						<input type="hidden" name="order_items[]" value="<%= item[:id]%>" />

						<img width="174" height="262" src="<%= image_url(item.product.image_front) %>" />
						<div class="order-item-desc">
							<p class="sub-section-header"><b><%= item.product_name %></b></p>
							<p><%= item.product.sku%></p>
							<p>Refund: <%= number_to_currency(item[:price]) %></p>
							<p>To card ending in 5002</p>
						</div>
					</div>
				</div>
				<div class="product-content">
					<h3 class="review-header">Reason for returning this item:</h3>
					<span>Please Select All That Apply.</span>
					<ul class="options">
						<% @options.each do |obj| %>
						<li>
							<% if(obj[:attr_type]==1) %>
							<b><%= obj[:attr_name] %></b>
							<% else %>
							<input type="checkbox" name="return_attributes[<%= item[:id]%>][<%= times %>][]" value="<%= obj[:id] %>" data-attr_name="<%= obj[:code_name] %>" />
							<span class="sub-section-header"><%= obj[:attr_name] %></span>
							<% end %>
							
							<% if(obj.child_attributes.any?) %>
								<ul class="sub-options">
									<% obj.child_attributes.each do |cobj| %>
										<li>
											<label class="checkbox-label-reason"></label>
											<span><%= cobj[:attr_name] %></span>
											<input class="<%= cobj[:code_name] %>" type="checkbox" name="return_attributes[<%= item[:id]%>][<%= times %>][]" value="<%= cobj[:id] %>" data-attr_name="<%= cobj[:code_name] %>" />
											
										</li>
									<% end %>
								</ul>	
							<% end %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>

			<% end %>
			
			<% end %>


			<div class="fit-issues-container review-box" id="fit-issues-box" data-order-item-id="" data-quantity-counter="">
				<div class="instructions">
					<span>Drop a Pin <img class="pin-img" src="<%= image_url("pin.gif"); %>" height="25" width="25" /></span>
					<ul>
						<li>Click where it doesnt fit to drop a pin.</li>
						<li>Select fit issue(s) from pop-up menu.</li>
						<li>Click Submit.</li>
					</ul>
					Multiple Fit issues? Drop more pins
				</div>
				<canvas class="test-canvas-front" id="test-canvas-front" width="480" height="720" data-order-item-id="" data-repeated-counter="" data-type-canvas="front"></canvas>

				<canvas class="test-canvas-back" id="test-canvas-back" width="480" height="720" data-order-item-id="" data-repeated-counter="" data-type-canvas="back"></canvas>


			</div>

		
			
		<% end %>

		
	</div>
	<div id="footer">
			<a href="#" class='previous-options review-page no-background-color'><img src="<%= image_url("arrow_Previous.gif") %>" /></a>
			<button id="continue-btn" class="next-btn review-page"><img class="continue-btn-img active" src="<%= image_url("arrow_Continue.gif") %>" />
				<img class="last-review-box-img" src="<%= image_url("confirmAndShip.gif") %>" />
			</button></div>
			</div>
</div>

<div class="cd-popup" role="alert" id="demo-popup">
	<div class="cd-popup-container">
	    <ul class="cd-buttons" id="options-list">
	      <!--<li><a href="#0" class="cd-popup-close">Bust too tight</a></li>
	      <li><a href="#0" class="cd-popup-close">Bust too Loose</a></li>-->
	    </ul>
	</div>
</div>


<div class="cd-popup" role="alert" id="measurements-error-popup">
	<div class="cd-popup-container">
	    
	</div>
</div>

<div class="cd-popup" role="alert" id="instructions-popup">
	<div class="cd-popup-container">
		<div class="close-btn-container"><span class="cd-popup-close cd-close-popup">X</span></div>
	    <div class="instructions instructions-popup">
			<span>Drop a Pin</span>
			<ul>
				<li>Click where it doesnt fit to drop a pin.</li>
				<li>Select fit issue(s) from pop-up menu.</li>
				<li>Click Submit.</li>
			</ul>
			Multiple Fit issues? Drop more pins
		</div>
	</div>
</div>


<%= form_tag({controller:"returns", action: "order_num"},method: "post",id: "step-one-form") do %>
<input type="hidden" name="order_num" value="<%= @order[:order_num] %>" />
<% end %>


 <%= javascript_include_tag "options_ctrl", "data-turbolinks-track" => true %>


<script type="text/javascript">

var squares = {1: { front: [{x: 145,y: 95,group: 2,width: 83, height: 100,cw: 384.8,ch: 577.2},{x: 145,y: 95,group: 3,width: 83, height: 14,cw: 384.8,ch: 577.2},{x: 145,y: 200,group: 2,width: 83, height: 30,cw: 384.8,ch: 577.2}],back:[] }

,2: { front: [{x: 140,y: 95,group: 2,width: 104, height: 100,cw: 384.8,ch: 577.2},{x: 140,y: 127,group: 3,width: 104, height: 35,cw: 384.8,ch: 577.2}],back:[] },

	3: { front: [{x: 160,y: 95,group: 2,width: 80, height: 40,cw: 384.8,ch: 577.2},{x: 158,y: 122,group: 3,width: 74, height: 25,cw: 384.8,ch: 577.2}], back:[] },
};

var images = {1: {front: "<%= image_path('img_test_front.jpeg')%>",back:"<%= image_path('img_test_back.jpeg') %>"},2: {front: "<%= image_path('img_test_front2.jpeg')%>",back:"<%= image_path('img_test_back2.jpeg') %>"},3: {front: "<%= image_path('img_test_front3.jpeg')%>",back:"<%= image_path('img_test_back3.jpeg') %>"}};
var pins = {};

var attributes = <%= attributes_hash.to_json.html_safe %>;
console.log(attributes);
var groups_selected= Array();




function validate_measurements() {
	var height_inches = parseInt($("select[name='inches']").val());
	var height_feet   = parseInt($("select[name='feet']").val());
	var heel_height   = parseInt($("select[name='heel_height']").val());
	var errors = Array();
	if(height_feet<1 || height_feet>7) {
		errors.push("choose valid feet measurement for Height");
	}
	if(height_inches<1 || height_inches>12) {
		errors.push("choose valid inches measurement for Height");
	}
	if(heel_height<1 || heel_height>12) {
		errors.push("choose valid inches measurement for Heel Height");
	}
	return errors;
}

function build_fields() {
	$.each(pins,function(i,e) {
		$.each(e,function(idx,se) {
			var options_ids_front = Array();
			var options_ids_back = Array();

			var position_pins_front = Array();
			var position_pins_back = Array();
			$.each(se["front"],function(i_f,e_f) {
				val_str = "";
				if("attribute" in e_f) {
					val_str += e_f["attribute"];
					full_val = val_str+"_"+e_f["x"]+"_"+e_f["y"]+"_"+e_f["rad"]+"_"+e_f["canvas_width"]+"_"+e_f["canvas_height"];
					var options_f = $("<input type='hidden' value='"+full_val+"' name='pin_attributes["+i+"]["+idx+"][front][]' />");

					$("#review-form").prepend(options_f);
				}
				
			});

			$.each(se["back"],function(i_b,e_b) {
				val_str = "";
				if("attribute" in e_b) {
					val_str += e_b["attribute"];
					full_val = val_str+"_"+e_b["x"]+"_"+e_b["y"]+"_"+e_b["rad"]+"_"+e_b["canvas_width"]+"_"+e_b["canvas_height"];

					var options_b = $("<input type='hidden' value='"+full_val+"' name='pin_attributes["+i+"]["+idx+"][back][]' />");
					$("#review-form").prepend(options_b);
				}
				
			});
		});
	});

	$("#review-form").submit();
}

/***
this will check if the current box is the last one displaying
**/
function is_active_box_last() {
	var curr_box = $("div.review-box-active");

	if(curr_box.length) {
		if(curr_box.hasClass("product-container") && curr_box.hasClass("last-container") && curr_box.find("input.fitissues").length && !curr_box.find("input.fitissues").is(":checked")) {
			$(".continue-btn-img").removeClass("active");
			$(".last-review-box-img").addClass("active");
		} 
		else if(curr_box.hasClass("fit-issues-container") && curr_box.hasClass("last-container")) {
			$(".continue-btn-img").removeClass("active");
			$(".last-review-box-img").addClass("active");
		}
		else {
			$(".continue-btn-img").addClass("active");
			$(".last-review-box-img").removeClass("active");
		}
	}
}
//var groups_selected = Ar;
</script>


<script type="text/javascript">

	var squares_ctrl = new SquaresCtrl();
	squares_ctrl.squares = squares; 

	var options_ctrl = new OptionsCtrl();
	options_ctrl.options = attributes;
	options_ctrl.options_original = attributes;
	options_ctrl.options_elem = $("#options-list");
	options_ctrl.init();

	var canvas_ctrl = new CanvasCtrl($(".fit-issues-container"));
	canvas_ctrl.canvas_front_id = "test-canvas-front";
	canvas_ctrl.canvas_back_id = "test-canvas-back";
	canvas_ctrl.init();

	//var can_show_instructions = false;

$(document).ready(function () {
	$("#review-form").find("input[type='checkbox']").prop("checked",false);
	var previous_items_ids = Array();
	$("div.product-container").first().addClass("review-box-active");
	$("div.product-container").last().addClass("last-container");

		


	$("#review-form").on("change","input[type='checkbox']",function(e) {
		if($(this).closest("ul.sub-options").length) {

			if($(this).closest("ul.sub-options").find("input[type='checkbox']:checked").length) {
				$(this).closest("ul.sub-options").prev("ul li").prop("checked",true);
			}
		}
		console.log($("#items-form").find("input[type='checkbox']:checked"));
		if($("#review-form").find("input[type='checkbox']:checked").length) {
			$("#review-form button").prop("disabled",false);
		}
		else {
			$("#review-form button").prop("disabled",true);
		}
		//if($(this).find("input["))
	});

	$("a.previous-options").on("click",function(e) {
		e.preventDefault();
		

		if(previous_items_ids.length<=0) {
			$("#step-one-form").submit();
		}


		var curr_box = $("div.review-box-active");
		var prev_box_id = previous_items_ids.pop();

		if(curr_box.hasClass("product-container") && prev_box_id=="fit-issues-box") {

			console.log(curr_box.prev("div.product-container"));
			canvas_ctrl.set_data(curr_box.prev("div.product-container").data("order-item-id"),curr_box.prev("div.product-container").data("quantity-counter"));

			$("#footer .previous-options").addClass("fit-issue-style");
					$("#continue-btn").addClass("fit-issue-style");
					$("#fit-issues-box").removeClass("last-container");
			
		} else {
			$("#footer .previous-options").removeClass("fit-issue-style");
					$("#continue-btn").removeClass("fit-issue-style");
		}
		curr_box.removeClass("review-box-active");
		
		$("#"+prev_box_id).addClass("review-box-active");
		//canvas_ctrl.resize_canvas();
		canvas_ctrl.resize_canvas();
		canvas_ctrl.recompute_pos();
		canvas_ctrl.clear_canvas();
		canvas_ctrl.redraw();
		canvas_ctrl.draw_images();
		is_active_box_last();
	});

	// if active box is for product checkbox review, check if at least one is filled out
	// if at least one checkbox and fit issue, go to fit issue box for that item, else go to next item
	$("#continue-btn").on("click",function(e) {
		e.preventDefault();
		var curr_box = $("div.review-box-active");
		
		if(curr_box.hasClass("product-container")) {
			console.log(curr_box.find("input[type='checkbox']:checked"));
			if(curr_box.find("input[type='checkbox']:checked").length) {
				var show_fit_issues = false;
				// check if fit issues is checked
				curr_box.find("input[type='checkbox']:checked").each(function(i,e) {
					console.log($(e).data("attr_name"));
					if($(e).data("attr_name")=="fitissues") {
						show_fit_issues = true;
						return false;		
					}
				});

				if(show_fit_issues) {
					if(curr_box.hasClass("last-container")) {
						$("#fit-issues-box").addClass("last-container");
					} else {
						$("#fit-issues-box").removeClass("last-container");

					}
						/*
						Code to show instructions. dont need it now
						if(can_show_instructions) {
							$("#instructions-popup").addClass("is-visible");
							can_show_instructions = false;
						}
						*/
						// show fit issues
						
						canvas_ctrl.set_data(curr_box.data("order-item-id"),curr_box.data("quantity-counter"));
						$("#fit-issues-box").addClass("review-box-active");

						curr_box.removeClass("review-box-active");
						previous_items_ids.push(curr_box.attr("id"));
						canvas_ctrl.resize_canvas();
						canvas_ctrl.draw_images();
						// recompute position of squares based on canvas width
						squares_ctrl.recompute_pos();
						//squares_ctrl.draw_areas();
						$("#footer .previous-options").addClass("fit-issue-style");
						$("#continue-btn").addClass("fit-issue-style");
						//squares_ctrl.draw_areas(curr_box.data("order-item-id"));
						//draw_images($("#test-canvas-front"),$("#test-canvas-back"));
					//}

				} else {
					if(curr_box.hasClass("last-container")) {
						// need to submit form here
						$("#confirmation-box").addClass("review-box-active");
						//curr_box.removeClass("review-box-active");
						build_fields();
					} else {
						curr_box.next("div.product-container").addClass("review-box-active");
						
						curr_box.removeClass("review-box-active");
						previous_items_ids.push(curr_box.attr("id"));
					}

					$("#footer .previous-options").removeClass("fit-issue-style");
					$("#continue-btn").removeClass("fit-issue-style");
				}
			} else {
				alert("you must select at least one option");
				return;
			}
		}
		else if(curr_box.hasClass("fit-issues-container")) {
			errors = canvas_ctrl.validate_pins();
			if(errors.length) {
				alert(errors.join("\n"));
				return;
			}
			order_item_id = curr_box.attr("data-order-item-id");
			quantity_counter = curr_box.attr("data-quantity-counter");
			container_id = "#product_"+order_item_id+"_"+quantity_counter;
			if($(container_id).length) {
				canvas_ctrl.save_last_dim();
				curr_box.removeClass("review-box-active");

				if($(container_id).hasClass("last-container")) {
					$("#confirmation-box").addClass("review-box-active");
					//$("#fit-issues-container").removeClass("review-box-active");
					build_fields();
				} else {
					$(container_id).next("div.product-container").addClass("review-box-active");
					previous_items_ids.push(curr_box.attr("id"));

					$("#footer .previous-options").removeClass("fit-issue-style");
					$("#continue-btn").removeClass("fit-issue-style");
				}
			}
		}
		is_active_box_last();
	});
	
	$(".checkbox-label-reason").on("click",function() {
		if($(this).hasClass("active")) {
			$(this).removeClass("active");
			$(this).closest("li").find("input").prop("checked",false);
		} else {
			$(this).addClass("active");
			$(this).closest("li").find("input").prop("checked",true);
		}
		is_active_box_last();

		/*if($("#review-form").find("input[type='checkbox']:checked").length) {
			$("#review-form button").prop("disabled",false);
		}
		else {
			$("#review-form button").prop("disabled",true);
		}*/
	});
is_active_box_last();
	//squares_ctrl.recompute_pos();
	//	squares_ctrl.draw_areas();

});
</script>




<script type="text/javascript">
$(document).ready(function() {
	window.onresize = function(event) {

		canvas_ctrl.resize_canvas();
		squares_ctrl.recompute_pos();
	//	squares_ctrl.draw_areas();
	}
});
</script>

