
<% attributes_hash = Hash.new %>
<% @attributes.each do |att| %>
<% attributes_hash[att[:id].to_i] = {name: att[:name], children: {}} %>
	<% if(att.child_attributes.any?) %>
		<% att.child_attributes.each do |catt| %>
			<% attributes_hash[att[:id]][:children][catt[:id]] = catt[:name] %>	
		<% end %>
	<% end %>
<% end %>

<style type="text/css">
	#test-canvas-front {
	
	/*border: 1px solid black;*/
	/*background: url("<%= image_path('img_test_front.jpeg') %>");*/
	margin-left: 10%;
	margin-top: 20px;

	}

	#test-canvas-back {
	margin-top: 20px;
	/*border: 1px solid black;*/
	/*background: url("<%= image_path('img_test_back.jpeg') %>");*/
	/*margin-left: 10%;*/
	}

	@media only screen and (max-width:767px) {
		#test-canvas-front {
			margin-left: 0;
			margin-top: 0;
		}
		#test-canvas-back {
			margin-top: 0;
		}
	}

</style>
<div id="header">
	<img src="<%= image_url("stepBar_2.gif") %>" />
</div>
<div id="main-container">
	
	<div id="review-content">
		
		

		<%= form_tag({controller:"returns", action: "final_step"},method: "post",id: "review-form") do %>
			<input type="hidden" name="order_id" value="<%= @order[:id] %>" />
			<input type="hidden" name="order_num" value="<%= @order[:order_num] %>" />

			<div id="review-product-container">		
			<div class="review-box height-box can-show" id="height_box" data-order-item-id="" data-quantity-counter="">
				Every body is unique. Your answers greatly help us improve our fit
				<h3>Height</h3>
				<%= select_tag(:feet, options_for_select(@feet)) %>
				<%= select_tag(:inches, options_for_select(@inches)) %>
				<h3>Heel Height</h3>
				<%= select_tag(:heel_height, options_for_select(@inches)) %>

			</div>	

			<% @order_items.each do |item| %>
			
			<% (1..@counts[item[:id]]).to_a.each do |times| %>

			
			<div class="product-container review-box" id="<%= "product_"+item[:id].to_s+"_"+times.to_s %>" data-order-item-id="<%= item[:id]%>" data-quantity-counter="<%= times%>">
				<div class="product-sidebar">
					<div class="product-sidebar-wrapper">
						<input type="hidden" name="order_items[]" value="<%= item[:id]%>" />

						<img width="260" height="390" src="<%= image_url("image.jpg") %>" />
						<div class="order-item-desc">
							<p><b><%= item.product_name %></b></p>
							<p>Refund: <%= number_to_currency(item[:price]) %></p>
							<p>To card ending in 5002</p>
						</div>
					</div>
				</div>
				<div class="product-content">
					<h2>Reason for returning this item:</h2>
					<span>Please select all that apply. Your answers help us improve our products.</span>
					<ul class="options">
					<% @options.each do |obj| %>
					<li>
						<% if(obj[:attr_type]==1) %>
						<b><%= obj[:attr_name] %></b>
						<% else %>
						<input type="checkbox" name="return_attributes[<%= item[:id]%>][<%= times %>][]" value="<%= obj[:id] %>" data-attr_name="<%= obj[:code_name] %>" /><%= obj[:attr_name] %>
						<% end %>
						
						<% if(obj.child_attributes.any?) %>
							<ul class="sub-options">
								<% obj.child_attributes.each do |cobj| %>
									<li><input type="checkbox" name="return_attributes[<%= item[:id]%>][<%= times %>][]" value="<%= cobj[:id] %>" data-attr_name="<%= cobj[:code_name] %>" /><%= cobj[:attr_name] %></li>
								<% end %>
							</ul>	
						<% end %>
					</li>
					<% end %>
					</ul>
				</div>
			</div>

			<% end %>
			
			<% end %>


			<div class="fit-issues-container review-box" id="fit-issues-box" data-order-item-id="" data-quantity-counter="">
				<div class="instructions">Drop a Pin
					<ul>
						<li>Click where it doesnt fit to drop a pin.</li>
						<li>Select fit issue(s) from pop-up menu.</li>
						<li>Click Submit.</li>
					</ul>
					Multiple Fit issues? Drop more pins
				</div>
				<canvas class="test-canvas-front" id="test-canvas-front" width="480" height="720" data-order-item-id="" data-repeated-counter="" data-type-canvas="front"></canvas>

				<canvas class="test-canvas-back" id="test-canvas-back" width="480" height="720" data-order-item-id="" data-repeated-counter="" data-type-canvas="back"></canvas>
			</div>


			</div>
			<div id="footer">
			<a href="#" class='previous-options no-background-color'><img src="<%= image_url("arrow_PreviousOptions.gif") %>" /></a>
			<button id="continue-btn" class="next-btn"><img src="<%= image_url("arrow_ContinueNextStep.gif") %>" /></button></div>
		<% end %>

		
	</div>
</div>

<div class="cd-popup" role="alert" id="demo-popup">
	<div class="cd-popup-container">
	    <ul class="cd-buttons" id="options-list">
	      <!--<li><a href="#0" class="cd-popup-close">Bust too tight</a></li>
	      <li><a href="#0" class="cd-popup-close">Bust too Loose</a></li>-->
	    </ul>
	</div>
</div>


<div class="cd-popup" role="alert" id="measurements-error-popup">
	<div class="cd-popup-container">
	    
	</div>
</div>


<%= form_tag({controller:"returns", action: "order_num"},method: "post",id: "step-one-form") do %>
<input type="hidden" name="order_num" value="<%= @order[:order_num] %>" />
<% end %>


 <%= javascript_include_tag "options_ctrl", "data-turbolinks-track" => true %>


<script type="text/javascript">

var squares = {1: { front: [{x: 152,y: 95,group: 2,width: 83, height: 100,cw: 384.8,ch: 577.2},{x: 152,y: 95,group: 3,width: 83, height: 14,cw: 384.8,ch: 577.2},{x: 152,y: 200,group: 2,width: 83, height: 30,cw: 384.8,ch: 577.2}],back:[] }

,2: { front: [{x: 152,y: 95,group: 2,width: 83, height: 100,cw: 384.8,ch: 577.2},{x: 153,y: 127,group: 3,width: 87, height: 35,cw: 384.8,ch: 577.2}],back:[] },

	3: { front: [{x: 160,y: 95,group: 2,width: 80, height: 40,cw: 384.8,ch: 577.2},{x: 158,y: 122,group: 3,width: 74, height: 25,cw: 384.8,ch: 577.2}], back:[] },
};

var images = {1: {front: "<%= image_path('img_test_front.jpeg')%>",back:"<%= image_path('img_test_back.jpeg') %>"},2: {front: "<%= image_path('img_test_front2.jpeg')%>",back:"<%= image_path('img_test_back2.jpeg') %>"},3: {front: "<%= image_path('img_test_front3.jpeg')%>",back:"<%= image_path('img_test_back3.jpeg') %>"}};
var pins = {};

var attributes = <%= attributes_hash.to_json.html_safe %>;
console.log(attributes);
var groups_selected= Array();




function validate_measurements() {
	var height_inches = parseInt($("select[name='inches']").val());
	var height_feet   = parseInt($("select[name='feet']").val());
	var heel_height   = parseInt($("select[name='heel_height']").val());
	var errors = Array();
	if(height_feet<1 || height_feet>7) {
		errors.push("choose valid feet measurement for Height");
	}
	if(height_inches<1 || height_inches>12) {
		errors.push("choose valid inches measurement for Height");
	}
	if(heel_height<1 || heel_height>12) {
		errors.push("choose valid inches measurement for Heel Height");
	}
	return errors;
}

function build_fields() {
	$.each(pins,function(i,e) {
		$.each(e,function(idx,se) {
			var options_ids_front = Array();
			var options_ids_back = Array();

			var position_pins_front = Array();
			var position_pins_back = Array();
			$.each(se["front"],function(i_f,e_f) {
				val_str = "";
				if("attribute" in e_f) {
					val_str += e_f["attribute"];
					full_val = val_str+"_"+e_f["x"]+"_"+e_f["y"]+"_"+e_f["rad"]+"_"+e_f["canvas_width"]+"_"+e_f["canvas_height"];
					var options_f = $("<input type='hidden' value='"+full_val+"' name='pin_attributes["+i+"]["+idx+"][front][]' />");

					$("#review-form").prepend(options_f);
				}
				
			});

			$.each(se["back"],function(i_b,e_b) {
				val_str = "";
				if("attribute" in e_b) {
					val_str += e_b["attribute"];
					full_val = val_str+"_"+e_b["x"]+"_"+e_b["y"]+"_"+e_b["rad"]+"_"+e_b["canvas_width"]+"_"+e_b["canvas_height"];

					var options_b = $("<input type='hidden' value='"+full_val+"' name='pin_attributes["+i+"]["+idx+"][back][]' />");
					$("#review-form").prepend(options_b);
				}
				
			});
		});
	});

	$("#review-form").submit();
}
//var groups_selected = Ar;
</script>


<script type="text/javascript">

	var squares_ctrl = new SquaresCtrl();
	squares_ctrl.squares = squares; 

	var options_ctrl = new OptionsCtrl();
	options_ctrl.options = attributes;
	options_ctrl.options_original = attributes;
	options_ctrl.options_elem = $("#options-list");
	options_ctrl.init();

	var canvas_ctrl = new CanvasCtrl($(".fit-issues-container"));
	canvas_ctrl.canvas_front_id = "test-canvas-front";
	canvas_ctrl.canvas_back_id = "test-canvas-back";
	canvas_ctrl.init();

	//squares_ctrl.recompute_pos();
	console.log(squares_ctrl.squares);
$(document).ready(function () {
	var previous_items_ids = Array();
	$("div.product-container").first().addClass("review-box-active");
	$("div.product-container").last().addClass("last-container");

		


	$("#review-form").on("change","input[type='checkbox']",function(e) {
		if($(this).closest("ul.sub-options").length) {

			if($(this).closest("ul.sub-options").find("input[type='checkbox']:checked").length) {
				$(this).closest("ul.sub-options").prev("ul li").prop("checked",true);
			}
		}
		console.log($("#items-form").find("input[type='checkbox']:checked"));
		if($("#review-form").find("input[type='checkbox']:checked").length) {
			$("#review-form button").prop("disabled",false);
		}
		else {
			$("#review-form button").prop("disabled",true);
		}
		//if($(this).find("input["))
	});

	$("a.previous-options").on("click",function(e) {
		e.preventDefault();
		

		if(previous_items_ids.length<=0) {
			$("#step-one-form").submit();
		}


		var curr_box = $("div.review-box-active");
		var prev_box_id = previous_items_ids.pop();

		if(curr_box.hasClass("product-container") && prev_box_id=="fit-issues-box") {

			console.log(curr_box.prev("div.product-container"));
			canvas_ctrl.set_data(curr_box.prev("div.product-container").data("order-item-id"),curr_box.prev("div.product-container").data("quantity-counter"));

			
		} else if(curr_box.hasClass("height-box")) {
			curr_box.addClass("can-show");
		}

		curr_box.removeClass("review-box-active");
		
		$("#"+prev_box_id).addClass("review-box-active");
		//canvas_ctrl.resize_canvas();
		canvas_ctrl.resize_canvas();
		canvas_ctrl.recompute_pos();
		canvas_ctrl.clear_canvas();
		canvas_ctrl.redraw();
		canvas_ctrl.draw_images();
	});

	// if active box is for product checkbox review, check if at least one is filled out
	// if at least one checkbox and fit issue, go to fit issue box for that item, else go to next item
	$("#continue-btn").on("click",function(e) {
		e.preventDefault();
		var curr_box = $("div.review-box-active");
		
		if(curr_box.hasClass("product-container")) {
			if(curr_box.find("input[type='checkbox']:checked").length) {
				var show_fit_issues = false;
				// check if fit issues is checked
				curr_box.find("input[type='checkbox']:checked").each(function(i,e) {
					console.log($(e).data("attr_name"));
					if($(e).data("attr_name")=="fitissues") {
						show_fit_issues = true;
						return false;		
					}
				});

				if(show_fit_issues) {
					// if height box has not been shown
					/*if($("#height_box").hasClass("can-show")) {
						curr_box.removeClass("review-box-active");
						$("#height_box").addClass("review-box-active");
						previous_items_ids.push(curr_box.attr("id"));
						$("#height_box").attr("data-order-item-id",curr_box.data("order-item-id"));
						$("#height_box").attr("data-quantity-counter",curr_box.data("quantity-counter"));
					} else {*/
						// show fit issues
						
						canvas_ctrl.set_data(curr_box.data("order-item-id"),curr_box.data("quantity-counter"));
						$("#fit-issues-box").addClass("review-box-active");

						curr_box.removeClass("review-box-active");
						previous_items_ids.push(curr_box.attr("id"));
						canvas_ctrl.resize_canvas();
						canvas_ctrl.draw_images();
						squares_ctrl.draw_areas(curr_box.data("order-item-id"));
						//draw_images($("#test-canvas-front"),$("#test-canvas-back"));
					//}

				} else {
					if(curr_box.hasClass("last-container")) {
						// need to submit form here
						build_fields();
					} else {
						curr_box.next("div.product-container").addClass("review-box-active");
						
						curr_box.removeClass("review-box-active");
						previous_items_ids.push(curr_box.attr("id"));
					}
				}
			} else {
				alert("you must select at least one option");
				return;
			}
		} /*else if(curr_box.hasClass("height-box")) {

			errors = validate_measurements();
			if(errors.length) {

				//$("#measurements-error-popup .cd-popup-container").html(errors.join("<br />"));
				//$("#measurements-error-popup").addClass("is-visible");
				alert(errors.join("\n"));
				return;
			}
			curr_box.removeClass("can-show");
			

			canvas_ctrl.set_data(curr_box.data("order-item-id"),curr_box.data("quantity-counter"));

			$("#fit-issues-box").addClass("review-box-active");
			curr_box.removeClass("review-box-active");
			previous_items_ids.push(curr_box.attr("id"));
			canvas_ctrl.resize_canvas();
			canvas_ctrl.draw_images();
			squares_ctrl.draw_areas(curr_box.data("order-item-id"));
			

		}*/ 
		else if(curr_box.hasClass("fit-issues-container")) {
			errors = canvas_ctrl.validate_pins();
			if(errors.length) {
				alert(errors.join("\n"));
				return;
			}
			order_item_id = curr_box.attr("data-order-item-id");
			quantity_counter = curr_box.attr("data-quantity-counter");
			container_id = "#product_"+order_item_id+"_"+quantity_counter;
			if($(container_id).length) {
				canvas_ctrl.save_last_dim();
				curr_box.removeClass("review-box-active");

				if($(container_id).hasClass("last-container")) {
					build_fields();
				} else {
					$(container_id).next("div.product-container").addClass("review-box-active");
					previous_items_ids.push(curr_box.attr("id"));
				}
			}
		}
	});

});
</script>




<script type="text/javascript">
$(document).ready(function() {
	window.onresize = function(event) {

		canvas_ctrl.resize_canvas();
	}
});
</script>

