<div id="main-container">
	<div id="header">
		<img src="<%= image_url("stepBar_2.gif") %>" />
	</div>


	<div id="success-content">
		<p>We're Almost Done...</p>
		
		<div class="final-steps-section">
			<div class="container-left">
				<img src="<%= image_path("icon_ShippingLabel.gif") %>" />
			</div>
			<!--international shipping will be responsible for returning their own products with no shipping label-->
			<div class="container-right">
				<div><img src="<%= image_path("arrow_PrintShipping.gif") %>" /></div>
				<div class="shipping-instructions-content">Your refund will be reduced by the return shipping fee of $10.</div>

			</div>
		</div>

		<div class="final-steps-section">
			<div class="container-left">
				<img src="<%= image_path("icon_OpenBox.gif") %>" />
			</div>
			<div class="container-right">
				<div><h5>Put the items your are returning in a box.</h5></div>
				<div class="shipping-instructions-content">Seal all sides of the box with packing tape.</div>

			</div>
		</div>

		<div class="final-steps-section">
			<div class="container-left">
				<img src="<%= image_path("icon_ClosedBox.gif") %>" />
			</div>
			<div class="container-right">
				<div><h5>Apply the return label to the outside of the box.</h5></div>
				<div class="shipping-instructions-content">Ideally covering any old shipping labels.</div>

			</div>
		</div>

		<div class="final-steps-section">
			<div class="container-left">
				<img src="<%= image_path("icon_UPS.gif") %>" />
			</div>
			<div class="container-right">
				<div><h5>Drop off your package.</h5></div>
				<div class="shipping-instructions-content">Find your <a href="#" target="_blank">nearest UPS dropoff.</a></div>

			</div>
		</div>
		

		<div id="footer">
			<a href="<%= returns_path %>" class="previous-options"><img src="<%= image_url("arrow_Previous.gif") %>" /></a>
			<a href="<%= success_confirmation_returns_path %>" id="finish-return" class="no-background-color"><img src="<%= image_url("arrow_ConfirmReview.gif") %>" /></a>
			</div>

	</div>

	
</div>






