<div id="main-container">
	
<div id="header">
		<img src="<%= image_url("stepBar_3.gif") %>" />
	</div>

	<div id="success-content">
		<h2 class="thank-you-header">Thank You</h2>
		<h3>Your Return has been Processed</h3>
		<span class="instructions-message">
			<div>Once received, all correctly returned products will be refunded within 10 business days.</div>
			<div>If you have any questions, please email <a class="email-link no-hover-effect" href="mailto:customercare@tadashishoji.com">customercare@tadashishoji.com</a></div>
			
			<p class="returns-policy"><a class="no-hover-effic" href="#" target="_blank">Return Policy</a></p>
		</span>
		<div class="rma-box">
			<div id="sidebar">
				<div class="sub-sidebar-section-info">
	
					<div class="sub-section-header"><b>Confirmation Number:</b></div>
	
					<span>100874683</span>
				</div>
				<div class="sub-sidebar-section-info">
				
					<div class="sub-section-header"><b>Tracking Number:</b></div>
				
					<span>100874683</span>
				</div>
				<div class="sub-sidebar-section-info">
				
					<div class="sub-section-header"><b>Return Date:</b></div>
				
					<span><%= @return.created_at.strftime("%B %d, %Y") %></span>
				</div>
				
				<div class="sub-sidebar-section-info">
				
					<div class="sub-section-header"><b>Recipient:</b></div>
				
					<span>
						<%=  @order.full_name %>
					</span>
				</div>
				<div class="sub-sidebar-section-info">
				
					<div class="sub-section-header"><b>Payment Method:</b></div>
				
					<span>
						Card ending in 5002
						<br />
						Total <%= number_to_currency(@order[:amount]) %>
					</span>
				</div>
			</div>
			<div id="content">
			
				<% @return.return_items.each do |item| %>
				<div class="inline-block product-order-item">
					<div class="img-container">
					<img width="260" height="390" src="<%= image_url(item.order_item.product.image_front)%>" />
					</div>
					<div class="prod-desc">
								<p class="sub-section-header"><b><%= item.order_item.product.name %></b></p>
								<p><%= item.order_item.product.sku%></p>
								<p><%= number_to_currency(item.order_item.price) %></p>
								<br>
							</div>
					
				

			</div>
			<% end %>

		</div>
		
		<div id="footer">			
			<a href="<%= success_confirmation_returns_path %>" id="continue-btn" class="next-btn no-background-color">
				<img src="<%= image_url("arrow_ContinueShop.gif") %>" />
			</a>
		</div>
	</div>

	
</div>

</div>






